body {
	background-color: #696969;
}

#startButton {
	width: 100%;
	height: 140px;
	width: 140px;
	display: block;
    margin: auto;
    padding-bottom: 25px;
}

#timer {
	width: 100%;
	font-weight: bold;
	font-size: 48px;
	text-align: center;
}

h1 {
	font-size: 62px;
	width: 100%;
	text-align: center;
	color: #5F9EA0;
}

#questionsBox {
	display: none;
	width: 100%;
	text-align: center;
	padding: 20px 0;
}

h3 {
	font-size: 30px;
	color: #5F9EA0;
}

button {
	font-size: 16px;
	width: 25%;
	float: left;
	font-weight: bold;
	color: #e6e6ff;
	background-color: #696969;
}

h2 {
	font-size: 34px;
	color: #e6e6ff;
	width: 100%;
	text-align: center;
	margin: 60px 0;
}